@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Dancing+Script:wght@700&family=Michroma&family=Oswald:wght@300;400;700&family=PT+Serif&family=Padyakke+Expanded+One&family=Raleway:wght@700&family=Roboto:wght@400;700&family=Sonsie+One&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
.body{
    font-family: 'Exo', sans-serif;
    background-color: #141530;
}

/*	Navigation Bar Start	*/

.navibar
{
    width: 100%;
	top: 0;
    position: fixed !important;
    z-index: 3;
    padding: 0.5rem;
    font-weight: bold;
    background-color: #141525;   
}
.navibar img
{
    width: 50px;
    height: 50px;
    margin-top: 0.1rem;
    border-radius: 150px;
    background-color: black;
    border: 2px solid #FFFBEB;
    transition: 0.5s;
}
.navibar img:hover
{
    transform: scale(2.5);
    z-index: 3;
    top: 25px;
    left: 20px;
    position: relative;
}
.navibar li
{
	font-family: "Noto Serif Toto";
}
.navibar li a:hover
{
    background-color: #FFFBEB;
    border-radius: 15px;
    color: #263159 !important;
}

/*	Navigation Bar End		*/


/*	Animation CSS Start		*/

.contexts .hello{
    width: 100%;
    position: absolute;
    top:46vh;
}
.contexts h1{
    text-align: center;
    color: #fff;
    font-size: 60px;
    font-family: "Oswald";
    text-transform: uppercase;
}
.contexts h2{
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-family:"Padyakke Expanded One";
}
.areas{
    background: #141530;  
    background: -webkit-linear-gradient(to left, ##3D4447, #26273B);  
    width: 100%;
    height:100vh;
}
.circless{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.circless li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(105, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}
.circless li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.circless li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}
.circless li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}
.circless li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.circless li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}
.circless li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}
.circless li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}
.circless li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}
.circless li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}
.circless li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

/* Animation CSS End */


/* About Us Page Start	 */

.aboutuscontainer
{
    background: #FFFBEB;  
    background: -webkit-linear-gradient(to left, #3D4447, #26273B); 
    height:100%;
}
.aboutustitle h1
{
    text-align: center;
    color: #251749;
    font-weight: bold;
    font-family: "Michroma";
    font-size: 2.5rem;
    margin-top: 6%;
}
.aboutuscontent
{
    text-align: center;
    color: black;
    font-style: italic;
}
.aboutuscontent p
{
    font-family: 'Exo';
}

/*	About Us Page End	*/


/*	Gallery Page Start	*/

.gallerycontainer
{
    background: #FFFBEB;  
    background: -webkit-linear-gradient(to left, ##3D4447, #26273B); 
    height:100%;
    border-top: 5px solid black;
}
.gallerytitle h1
{
    text-align: center;
    color: #251749;
    font-weight: bold;
    font-family: "Michroma";
    font-size: 2.5rem;
    margin-top: 4%;
}
.gallerycontent
{
    text-align: center;
}
.imgme img, .imgwatch img, .imghobby img, .imgworks img
{
    width: 150px;
    height: 200px;
    border: 1px solid black;
    margin: 3px;
    transition: 0.5s;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 0px black;
}
.imgfirstrow h3, .imgsecondrow h3
{
     color: #141530;
     font-family: "Sonsie One";
}
.imgfirstrow
{
    padding: 1em;
    border-top: 2px solid black;
    border-left: 2px solid black;
}
.imgsecondrow
{
    padding: 1em;
    padding-bottom: 2em;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}
.imgme img:hover, .imgwatch img:hover, .imghobby img:hover, .imgworks img:hover
{
    transform: scale(1.5);
    z-index: 3;
}

/*	Gallery Page End*/


/*	Contact Us Page Start	*/

.contactuscontainer
{
    background: #FFFBEB;  
    background: -webkit-linear-gradient(to left, ##3D4447, #26273B); 
    height:100%;
    border-top: 5px solid black;
}
.contactustitle h1
{
    text-align: center;
    color: #251749;
    font-weight: bold;
    font-family: "Michroma";
    font-size: 2.5rem;
    margin-top: 6%;
}
.contactuscontent
{
    background-color: #263159;
    border-radius: 10px;
    box-shadow: 10px 15px 10px 0px black;
}
.inputfname, .inputemail
{
    border: 3px solid #495579;
}
.fullname, .email
{
    color: #FFFBEB;
    font-size: 1.2rem;
    font-family: "Lora";
    font-weight: bold;
}
.inputarea textarea
{
    width: 100%;
    height: 150px;
    font-size: 1rem;
    border: 5px solid #495579;
}
.sendbutton a
{
    text-decoration: none;
    color: #141530 !important;
}
.sendbutton button
{
    height: 40px;
    width: 100px;
    font-size: 16px;
    font-family:'Raleway' !important;
    font-weight: bold;
    border-radius: 10px;
    background-color: #38E54D;
    border: 1px solid #141530;
    transition: 0.5s;

}
.sendbutton button:hover
{
    transform: scale(1.1);
    z-index: 3;
    text-decoration: none;
}
.footer1
{
    width: 100%;
    z-index: 3;
    padding: 0.5rem;
    margin-top: 8%;
    list-style-type: none;
    font-weight: bold;
    background-color: #263159;
    text-align: center;
    border-radius: 20px;
}
.footer1 h3
{
    display: inline;
    margin-left: 2%;
    font-family: 'Exo';
    font-size: 20px;

}
.footer1 a
{
    text-decoration: none;
    color: #FFFBEB;
}
.footer1 a:hover
{
    color: white;
    font-weight: bold;
}